# 1.
Use a loop to display elements from a given list present at odd index 	positions. [Hint: list slicing]
	Given:
	my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
	Output:
	20 40 60 80 100

In [124]:
numbers = [10,20,30,40,50,60,70,80,90,100] 

slice_list = numbers[1::2]

for i in slice_list:
    print(i) 
    
    
#print('the elements at odd positions are above: ')

20
40
60
80
100
100

# 2.
Calculate the cube of all numbers from 1 to a given number. Accept 	the number from user. [Hint: use formula a*a*a]
	Given:
		input_number = 6
	Expected output:
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
		Current Number is : 6  and the cube is 21

In [79]:
numbs= int(input('enter the number:'))

for i in range(1, numbs+1):
    cube = i*i*i
    print('the cube for the number is: ')
    print(cube)

#print('cube of number',numbs)

enter the number:11
the cube for the number is:
1
the cube for the number is:
8
the cube for the number is:
27
the cube for the number is:
64
the cube for the number is:
125
the cube for the number is:
216
the cube for the number is:
343
the cube for the number is:
512
the cube for the number is:
729
the cube for the number is:
1000
the cube for the number is:
1331

In [67]:
print(numbs,cube)

5 125

In [62]:
number = 1
while number <= 5:
    cube = i*i*i
    print('the cube of',number,cube)
    number = number +1

SyntaxError: invalid syntax (325246140.py, line 3)

# 3. 
Write a program to accept a number from a user and calculate the sum 	of all numbers from 1 to a given number
	Ex: If the user entered 6 the output should be 21 (1+2+3+4+5+6)

In [44]:
num = int(input('enter the no. please:'))
sum_of_num = 0
for i in range(1, num+1):
    sum_of_num += i
print('the sum of all values in your number: ',sum_of_num)

enter the no. please:10
the sum of all values in your number:  55

# 4.
Write a program to display only those numbers from a list that satisfy 	the following conditions.
  •	The number must be divisible by five
  •	If the number is greater than 150, then skip it and move to the next number
  •	If the number is greater than 500, then stop the loop
	Given:
		numbers = [12, 75, 150, 180, 145, 525, 50]
	Output:
		75
		150
		145

In [129]:
numbers = [12,75,150,180,145,525,652,50]
for num in numbers:
    if num >  150:
        continue
    elif num > 500:
            break
    elif num% 5==0:
        print(num)

75
150
145
50

# 5.
Write a program to print the following number pattern using a loop.
	1 
	1 2 
	1 2 3 
	1 2 3 4 
	1 2 3 4 5

In [116]:
#num = int(input('enter the number:'))
num = 5
for i in range(num+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5