# list comprehensions

# 1
Given a list of numbers, remove all odd numbers from the list numbers = [3,5,45,97,32,22,10,19,39,43]

In [7]:
numbers = [3,5,45,97,32,22,10,19,39,43]
new_list = [i  for i in numbers if i % 2!= 0]
print(new_list)

[3, 5, 45, 97, 19, 39, 43]

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

result = [x if x % 2 == 0 else 'odd' if x % 2 != 0 else 'unknown' for x in numbers]

print(result)

['odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [8]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Using nested list comprehensions to flatten the matrix
flattened = [value for row in matrix for value in row]

print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 2.
Find all of the numbers from 1-1000 that are divisible by 7

In [121]:
list = [i for i in range(1,1000) if i%7 == 0]
print(list)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# 3.
# Count the number of spaces in a string

In [125]:
string = 'he is going to the school by bus daily'
new_string = [i for i in string if i == ' ']
print(new_string)
print(len(new_string))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
8

# 4.
# Get the index and the value as a tuple for items in the list “hi”, 4, 8.99, ‘apple’, (‘t,b’,’n’). Result would look like (index, value), (index, value)

In [2]:
list = ['hi',4,8.99,'apple',('t,b','n')]
list_n = [i for i in enumerate(list)]
print(list_n)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

# 5.
Find all of the words in a string that are less than 4 letters [Hint: Use split() to get the words from string]

In [133]:
string = 'india is a more diverse country and it has different cultures and customs'
new = [ i for i in string.split(' ') if len(i)<4]
print(new)

['is', 'a', 'and', 'it', 'has', 'and']

# # 1.
# Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Three" instead of the number and for multiples of five print "Five". For numbers that are multiples of three and five, print "ThreeFive".

In [4]:
num = (int(input('input a range: ')))
for i in range(num+1):
    if i%3 == 0:
        print(i,'multiple of 3')
    elif i%5 == 0:
        print(i,'multiple of 5')
    elif i%3 == 0 and i%5 == 0:
        print(i,'the multiple of 3 & 5')
    else:
        print('not the multiples of 3 & 5')

input a range: 10
0 multiple of 3
not the multiples of 3 & 5
not the multiples of 3 & 5
3 multiple of 3
not the multiples of 3 & 5
5 multiple of 5
6 multiple of 3
not the multiples of 3 & 5
not the multiples of 3 & 5
9 multiple of 3
10 multiple of 5

# 3.
# Write a python for loop to sort the numbers in a list in descending order

In [127]:
num=[1,9,13,7,5,6]
temp=0
for i in range(len(num)):
    for j in range(i+1,len(num)) :
        if num[i]<num[j]:
            temp=num[i]
            num[i]=num[j]
            num[j]=temp
print(num)

[13, 9, 7, 6, 5, 1]

# 2.
# Write a Python program that accepts a string and calculates the number of digits and letters.

In [129]:
a='kiran123435'
l=0
d=0
for i in a:
    if i.isalpha():
        l=l+1
    if i.isdigit():
        d=d+1
print('letter',l)
print('digit',d)

letter 5
digit 6

# 4.
# Write a program to find a factorial of a number accepted from the user.

In [3]:
num = int(input('enter your number'))
fact = 1
count = 0
for i in range(1,num+1):
    fact = fact*i
    print(fact)

enter your number4
1
2
6
24

# 5.
# Write a program to display the product of the digits of a number accepted from the user.

In [8]:
num = int(input('enter your number'))
n = num
product = 1
while n!= 0:
    rem = n %10
    product = product *rem
    n =n//10
print(product)

enter your number10
0

# 6.
#Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 to 500

In [10]:
for num in range(100,500+1):
    if num% 11 == 0 and num %2!= 0:
        print(num,end = ' ')

121 143 165 187 209 231 253 275 297 319 341 363 385 407 429 451 473 495

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

result = [x if x % 2 == 0 else 'odd' if x % 2 != 0 else 'unknown' for x in numbers]

print(result)

# Definition and Usage
# The join() method takes all items in an iterable and joins them into one string.

# A string must be specified as the separator.

In [6]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [4]:
n = 5  # Number of rows


pattern = [' '.join(['*' for _ in range(i)]) for i in range(1, n + 1)]


print('\n'.join(pattern))

*
* *
* * *
* * * *
* * * * *