# 1.
Write a program to create a function that takes two arguments, name and age, and print their value.

In [32]:
def function1(name,age):
    print (name + ' is your name and  ', age + ' is your age ')

In [129]:
function1('george','23')
function1('jones','45')
function1(name = 'kane',age = '43')
function1(age = '35', name = 'henry')

george is your name and   23 is your age
jones is your name and   45 is your age
kane is your name and   43 is your age
henry is your name and   35 is your age

# 2.
Write a program to create function func1() to accept a variable length of arguments and print their value.          Note: Create a function in such a way that we can pass any number of arguments to this function, and the function should process them and display each argument’s value.

In [56]:
def funct1(*value):
    for i in value:
        print(i)

In [57]:
funct1(1,2,3,4,5)

1
2
3
4
5

# 3.
Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [48]:
def calculate(num1,num2):
    sum = num1 + num2
    sub = num1 - num2
    print(sum,sub)

In [49]:
calculate (10,2)

12 8

# 4.
Write a program to create a function show_employee() using the following conditions. (Hint: Use default arguments)
     -- It should accept the employee’s name and salary and 	display both.
     -- If the salary is missing in the function call then assign 			default value 9000 to salary

In [58]:
def show_employee(name,salary = 9000):
    print(f"Employee Name: {name}")
    print(f"Employee Salary: {salary}")

In [61]:
show_employee('Joe Biden')
show_employee('George Bush','16000')

Employee Name: Joe Biden
Employee Salary: 9000
Employee Name: George Bush
Employee Salary: 16000

# 5.
Write a program to create a recursive function to calculate 	the sum of numbers from 0 to 10. (A recursive function is a 	function that calls itself again and again.)

In [74]:
def sum_numbers(n):
    if n == 0:
        return 0
    else:
        return n + sum_numbers(n-1)

In [75]:
result = sum_numbers(10)
print(result)

55

# 6.
Write a Python function to find the maximum of three 	numbers.

In [69]:
def max(a, b, c):
    if a >= b and a>= c:
        largest = a
    elif b>= a and b>= c:
        largest = b
    else:
        largest = c
    return largest

In [70]:
max(10, 20, 50)

50

# 7.
Write a Python function to sum all the numbers in a list.
Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [71]:
def sum_list(numbers):
    total = 0
    for num in numbers:
        total = total + num
    return total

In [76]:
numbers = [8,2,3,0,7]
result = sum_list(numbers)
print("the sum of the numbers in the list is: ", result)

the sum of the numbers in the list is:  20

# 8.
Write a Python program to reverse a string.
Sample String : "1234abcd"
Expected Output : "dcba4321"

In [117]:
def reverse_funct(x):
    return x[::-1]

In [118]:
reverse_text = reverse_funct('1234abcd')
print(reverse_text)

dcba4321

In [77]:
text = '1234abcd'[::-1]
print(text)

dcba4321

# 9.
Write a Python function that accepts a string and counts the 	number of upper and lower case letters.
Sample String : 'Welcome To Mitraz, Puttaparthi'
Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12

In [106]:
string12 = 'Tesla Is The Best Compant In The World @#$%^'
print(string12.isupper())

False

In [110]:
txt = "Hello my friends"

x = txt.isupper()

print((x))

False

In [111]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [122]:
def string_test(s):
    d = {'upper_case':0, 'lower_case':0}
    for c in s:
        if c.isupper():
            d['upper_case']+=1
        elif c.islower():
            d['lower_case']+=1
        
    print('original string: ', s)
    print('no. of upper characters: ',d['upper_case'])
    print('no. of lower characters: ',d['lower_case'])
    

string_test('Welcome To Mitraz')

original string:  Welcome To Mitraz
no. of upper characters:  3
no. of lower characters:  12

In [85]:
# res=len(['sample_string'])
# print(res)

1

# 10.
Write a Python program to print the even numbers from a 	given list.
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]

In [128]:
def my_func(sample_list):
    for i in sample_list:
        if i % 2 == 0:
            print(i)
            
numbeers = [1,2,3,4,5,6,7,8,9]
my_func(numbeers)

2
4
6
8