In [ ]:
Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis"

Why Use Pandas? Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

In [ ]:
What Can Pandas Do?
Pandas gives you answers about the data. Like:

Is there a correlation between two or more columns?
What is average value?
Max value?
Min value?
Pandas are also able to delete rows that are not relevant, or contains wrong values, lik

In [ ]:
pip install pandas

In [1]:
# PIP

In [11]:
import pandas as pn
my_data = {
    'teams':('india','pak','aus'),
    'point_table': (18, 10, 12)
}
my_team = pn.DataFrame(my_data)
print(my_team)

   teams  point_table
0  india           18
1    pak           10
2    aus           12

In [15]:
my_data = { 'batsmen':['virat','sachin','rohit'],
           'bowler': ('bumrah')
          }
team_players = pn.DataFrame(my_data)
print(team_players)

  batsmen  bowler
0   virat  bumrah
1  sachin  bumrah
2   rohit  bumrah

In [7]:
print(panda1.__version__)

1.5.3

In [9]:
import pandas as panda2
my_team = panda2.DataFrame(my_data)
print(my_team)

   teams  point_table
0  india           18
1    pak           10
2    aus           12

# - Series
 - What is a Series? A Pandas Series is like a column in a table.
 - S should be in caps
 - It is a one-dimensional array holding data of any type.

In [22]:

# 1 == ['kane',True,'williamson',45,62.72]
cc = ['kane',True,'williamson',45,62.72]
avg_kane = pn.Series(cc)
print(avg_kane)

0          kane
1          True
2    williamson
3            45
4         62.72
dtype: object

# - Labels
  
 - If nothing else is specified, the values are labeled with their 
    index number.
 - First value has index 0, second value has index 1 etc.
 - This label can be used to access a specified value.

In [27]:
bat = (2+3j,0.024j,0,True)
my_bat = pn.Series(bat, index =['k','l','m','n'] )
print(my_bat)

k    (2+3j)
l    0.024j
m         0
n      True
dtype: object

In [29]:
?pn.Series

# Key/Values Objects as Series

In [44]:
import pandas as pn

jogg = {
    'nov1':'23.0 kms',
    'nov2': '10.0 kms',
    '____': '12.25 kms',
    'nov4': 12/2 
}
my_jogg = pn.Series(jogg)
print(my_jogg)

nov1     23.0 kms
nov2     10.0 kms
____    12.25 kms
nov4          6.0
dtype: object

In [58]:
dictB = {'Person1':{'House_number':1,'Colony':'Grape street'},
         'Person2':{'House_number':33,'Colony':'Freds street'},
         'Person3':{'House_number':21,'Colony':'Wall street'}}

dictB['Person4'] = {'House_number':23}

print(dictB)
my_dict2 = pn.Series(dictB)
print(my_dict2['Person2']['House_number'])
print(my_dict2['Person3']['Colony'])

print(my_dict2['Person1'])

{'Person1': {'House_number': 1, 'Colony': 'Grape street'}, 'Person2': {'House_number': 33, 'Colony': 'Freds street'}, 'Person3': {'House_number': 21, 'Colony': 'Wall street'}, 'Person4': {'House_number': 23}}
33
Wall street
{'House_number': 1, 'Colony': 'Grape street'}

# - DataFrames
 - Data sets in Pandas are usually multi-dimensional tables,           - called DataFrames.

 - Series is like a column, a DataFrame is the whole table.

In [75]:
details = {
    "one": pn.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pn.Series([1.0, 2.0, 3.0, 4.0], 
                     index=["a", "b", "c", "d"])
}

df1 = pn.DataFrames(details) 
print(df1)

AttributeError: module 'pandas' has no attribute 'DataFrames'

In [72]:
dfs = pn.Series(d)
print(df1)

AttributeError: module 'pandas' has no attribute 'DataFrames'

In [ ]:
df
Out[40]: 
   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

pd.DataFrame(d, index=["d", "b", "a"])
Out[41]: 
   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])
Out[42]: 
   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN
The row and column labels can be accessed respectively by accessing the index and columns attributes:

Note

When a particular set of columns is passed along with a dict of data, the passed columns override the keys in the dict.

In [69]:
pp = pd.read_csv(r'C:\Users\HP\Desktop\kiran.csv')

NameError: name 'pd' is not defined