In [1]:
import pandas as pan

In [27]:
app = pan.read_csv(r'C:\Users\HP\Desktop\googleplaystore_v2.csv')

In [28]:
app.shape

(10841, 13)

In [60]:
app.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.0,"10,000+",Free,0,Everyone,Art & Design,07-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700.0,"5,000,000+",Free,0,Everyone,Art & Design,01-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000.0,"50,000,000+",Free,0,Teen,Art & Design,08-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up

In [59]:
print(app.Rating.loc[2])

4.7

In [74]:
print(app.loc[2],["Rating"])

App               U Launcher Lite – FREE Live Cool Themes, Hide ...
Category                                             ART_AND_DESIGN
Rating                                                          4.7
Reviews                                                       87510
Size                                                         8700.0
Installs                                                 5,000,000+
Type                                                           Free
Price                                                             0
Content Rating                                             Everyone
Genres                                                 Art & Design
Last Updated                                              01-Aug-18
Current Ver                                                   1.2.4
Android Ver                                            4.0.3 and up
Name: 2, dtype: object ['Rating']

In [85]:
app.loc[2,:]["App"]

'U Launcher Lite – FREE Live Cool Themes, Hide Apps'

In [ ]:
Google Playstore Case Study
In this module you’ll be learning data visualisation with the help of a case study. This will enable you to understand how visualisation aids you in solving business problems.

Problem Statement

The team at Google Play Store wants to develop a feature that would enable them to boost visibility for the most promising apps. Now, this analysis would require a preliminary understanding of the features that define a well-performing app. You can ask questions like:

Does a higher size or price necessarily mean that an app would perform better than the other apps?
Or does a higher number of installs give a clear picture of which app would have a better rating than others?

# Session 1 - Introduction to Data Visualisation

In [ ]:
Data loading Data Explore Data Clean * Data Analysis (Sanity checks, column converstions.......) 
Exploratory data analyss (univarate, bivarate analysis) Model building, feature engineering

# Data Handling and Cleaning

The first few steps involve making sure that there are no missing values or incorrect data types before we proceed to the analysis stage. These aforementioned problems are handled as follows:

 - For Missing Values: Some common techniques to treat this issue are
 - Dropping the rows containing the missing values
 - Imputing the missing values (Mean, Median, Mode)
 - Keep the missing values if they don't affect the analysis
 - Incorrect Data Types:
 - Clean certain values
 - Clean and convert an entire column

In [30]:
app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  float64
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

# Missing Values Treatment

In [10]:
k.shape

(10841, 13)

In [52]:
app.isnull()
#returns the not null values as False

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,False,False,False,False,False,False,False,False,False,False,False,False,False
10837,False,False,False,False,False,False,False,False,False,False,False,False,False
10838,False,False,True,False,False,False,False,False,False,False,False,False,False
10839,False,False,False,False,False,False,False,False,False,False,False,False,False
10840,False,False,False,False,False,False,False,False,False,False,False,False,False

In [32]:
app.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

# Handling missing values for rating

 - Rating is the target variable
 - drop the records

In [37]:
val = app[~app.Rating.isnull()]
val.shape

(9367, 13)

In [42]:

#newly added element called 'val'
# check the number of nulls in dataframe again 
# and find the total number of null values
val.Rating.isnull().sum()

0

In [39]:
app.shape

(10841, 13)

In [54]:
#original variable which is assingned earliarly
app.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [47]:
# the updated variable one with the 
# dropped null values in "Rating" column
val.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       4
Android Ver       3
dtype: int64

In [78]:
val[val['Android Ver'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4453,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11000.00000,"1,000+",Paid,$1.49,Everyone,Personalization,20-Jul-18,4.4,NaN
4490,Pi Dark [substratum],PERSONALIZATION,4.5,189,2100.00000,"10,000+",Free,0,Everyone,Personalization,27-Mar-18,1.1,NaN
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,21516.52952,Free,0,Everyone,NaN,11-Feb-18,1.0.19,4.0 and up,NaN

In [79]:
val.loc[10472,:]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                               19.0
Reviews                                              3.0M
Size                                          21516.52952
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                          11-Feb-18
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                           NaN
Name: 10472, dtype: object

In [86]:
val['Android Ver'].isnull().sum()

3

In [ ]:
#Drop the row having shifted values
# inp1.loc[10472,:]
# inp1[(inp1['Android Ver'].isnull() & (inp1.Category == "1.9"))]
# inp1 = inp1[~(inp1['Android Ver'].isnull() & (inp1.Category == "1.9"))]
# #Check the nulls again in Android version column to cross-verify
# inp1[inp1['Android Ver'].isnull()]

# Imputing Missing Values
 
 - For numerical variables use mean and median
 - For categorical variables use mod

In [114]:
#check the most common value in the Andriod version column
val['Android Ver'].mode()

0    4.1 and up
Name: Android Ver, dtype: object

In [118]:
val['Android Ver'].mode()[0]

'4.1 and up'

In [ ]:
# impue - fillna(x)
# it checks the missing values and replace it 
# with the parameter given

In [119]:
val['Android Ver'] = val['Android Ver'].fillna(val['Android Ver'].mode()[0])

C:\Users\HP\AppData\Local\Temp\ipykernel_25512\803553698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['Android Ver'] = val['Android Ver'].fillna(val['Android Ver'].mode()[0])

In [120]:
val.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       4
Android Ver       0
dtype: int64

In [121]:
val['Current Ver'].value_counts()

Varies with device    1415
1                      476
1.1                    206
1.2                    133
2                      129
                      ...
1.3.A.2.9                1
9.9.1.1910               1
7.1.34.28                1
5.9.7                    1
0.3.4                    1
Name: Current Ver, Length: 2595, dtype: int64

In [122]:
val['Current Ver'].mode()

0    Varies with device
Name: Current Ver, dtype: object

In [123]:
val['Current Ver'].mode()[0]

'Varies with device'

In [124]:
val['Current Ver'] = val['Current Ver'].fillna(val['Current Ver'].mode()[0])

C:\Users\HP\AppData\Local\Temp\ipykernel_25512\1532445612.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['Current Ver'] = val['Current Ver'].fillna(val['Current Ver'].mode()[0])

In [127]:
val['Current Ver'].isnull().sum()

0

In [136]:
val.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [126]:
val['Content Rating'].isnull().sum()

1

In [128]:
val['Content Rating'].mode()

0    Everyone
Name: Content Rating, dtype: object

In [135]:
val['Content Rating'].mode()[0]

'Everyone'

In [138]:
val['Content Rating'] = val['Content Rating'].fillna(val['Content Rating'].mode()[0])

C:\Users\HP\AppData\Local\Temp\ipykernel_25512\3131893263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['Content Rating'] = val['Content Rating'].fillna(val['Content Rating'].mode()[0])

In [139]:
val.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [143]:
val.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size              float64
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [146]:
val.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.0,"10,000+",Free,0,Everyone,Art & Design,07-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up

In [147]:
# we have the price as object data type 
# so we have to convert that into the float type

# Handling Incorrect Data Types

In [148]:
# check the data types of all the columns
val.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size              float64
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [152]:
set(val.Price.to_list())

{'$0.99 ',
 '$1.00 ',
 '$1.20 ',
 '$1.29 ',
 '$1.49 ',
 '$1.50 ',
 '$1.59 ',
 '$1.61 ',
 '$1.70 ',
 '$1.75 ',
 '$1.76 ',
 '$1.97 ',
 '$1.99 ',
 '$10.00 ',
 '$10.99 ',
 '$11.99 ',
 '$12.99 ',
 '$13.99 ',
 '$14.00 ',
 '$14.99 ',
 '$15.46 ',
 '$15.99 ',
 '$16.99 ',
 '$17.99 ',
 '$18.99 ',
 '$19.40 ',
 '$19.99 ',
 '$2.00 ',
 '$2.49 ',
 '$2.50 ',
 '$2.56 ',
 '$2.59 ',
 '$2.90 ',
 '$2.95 ',
 '$2.99 ',
 '$24.99 ',
 '$29.99 ',
 '$299.99 ',
 '$3.02 ',
 '$3.04 ',
 '$3.08 ',
 '$3.28 ',
 '$3.49 ',
 '$3.88 ',
 '$3.90 ',
 '$3.95 ',
 '$3.99 ',
 '$33.99 ',
 '$37.99 ',
 '$379.99 ',
 '$389.99 ',
 '$39.99 ',
 '$399.99 ',
 '$4.29 ',
 '$4.49 ',
 '$4.59 ',
 '$4.60 ',
 '$4.77 ',
 '$4.84 ',
 '$4.99 ',
 '$400.00 ',
 '$5.49 ',
 '$5.99 ',
 '$6.49 ',
 '$6.99 ',
 '$7.49 ',
 '$7.99 ',
 '$79.99 ',
 '$8.49 ',
 '$8.99 ',
 '$9.00 ',
 '$9.99 ',
 '0',
 'Everyone'}

In [153]:
print(val.dtypes)

App                object
Category           object
Rating            float64
Reviews            object
Size              float64
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [192]:
a = '$345678'
float(a[1:])

345678.0

In [198]:
val.Price = val.Price.apply(lambda x: 0 if x =="0" else float(x[1:]))

TypeError: 'float' object is not subscriptable

In [202]:
val.Price = val.Price.apply(lambda x: 0 if x =="0" else float(a[1:]))

C:\Users\HP\AppData\Local\Temp\ipykernel_25512\3901453931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val.Price = val.Price.apply(lambda x: 0 if x =="0" else float(a[1:]))

In [205]:
val.Price.apply(lambda x:0 if x == '0' else float(a[1:]))

0        345678.0
1        345678.0
2        345678.0
3        345678.0
4        345678.0
           ...
10834    345678.0
10836    345678.0
10837    345678.0
10839    345678.0
10840    345678.0
Name: Price, Length: 9367, dtype: float64

In [154]:
y = lambda a:a+10
print(y(5))

15

In [159]:
y = lambda a, b, c, d, f, e : a*b-c/d+f-e
print(y(3,4,4,6,7,8))

10.333333333333336

In [ ]:
the syntax:
    lambda arguments:expressions
    expressions can be less
    but the arguments should be same as declared

In [171]:
a = lambda a,b,c : a+b
#nt(a(10,4))# - arguments called is less than declared 
# it throws an error
print(a(10,2,3))#----------argument are same as declared

12

In [173]:
def myfunc(v):
    return lambda j: j*v 
my_multi  = myfunc(3)
my_multi(4)

12

In [183]:
def myfunction(i):
    return lambda k: k-i
my_modulus = myfunction(10)
my_modulus(100)

90

In [ ]:
val.Price = val.Price.apply(lam)