# 1. 
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]
By using the above two lists write a Python program to convert them
 into a dictionary in a way that item from list1 is the key 
and item from list2 is the value.

In [ ]:
list1 = ['one','two','three']
list2 = [1,2,3]

print('given key list is: '+ str(list1))
print('given value list is: '+ str(list2))


emp_dict = {}
for key in list1:
    for value in list2:
        emp_dict[key] = value
        list2.remove(value)
        break
print("the result of the dictionary is: "+str(emp_dict))

In [ ]:
test_list1 = ['one','two','three']
test_list2 = [1,2,3]
res = {test_list1[i]:test_list2 for i in range(len(test_list1))}
print(res)
print(str(res))

In [12]:
print(type(test_list2))
print(type(str(test_list2)))

<class 'list'>
<class 'str'>

In [8]:
list11 = ['one','two']
list22 = [1,2]
list22.remove(2)
print(list22)

[1]

In [7]:
print('the one is: ' + str(list11))
print('the values are: '+ str(list22))

the one is: ['one', 'two']
the values are: [1, 2]

In [9]:
v = str(12)
print(type(v))

<class 'str'>

# 2.Write a python program to merge two dictonaries into one.

In [18]:
dict1 ={'a':1,'b':2}
dict2 ={'one':5,'two':6}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'one': 5, 'two': 6}

In [22]:
dict10 = {
    'a':11,
    'b':22
}
dict11 = {
    'c':33,
    'd':44
}
print(dict10|dict11)

{'a': 11, 'b': 22, 'c': 33, 'd': 44}

# 3.
Write a Python program to create a new dictionary by extracting the mentioned keys
 from the below dictionary.
	sample_dict = {
   				 "name": "Kelly",
   				 "age": 25,
  				 "salary": 8000,
   				 "city": "New york"}

	# Keys to extract
	keys = ["name", "salary"]

In [ ]:
sample_dict = {
    'name': 'kelly',
    'age': '25',
    'salary': '8000',
    'city':'newyork'
}

In [32]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}

# Keys to extract
keys = ["name", "salary"]

# Initialize an empty dictionary to store the extracted keys and values
new_dict = {}

# Use a for loop to extract the specified keys
for key in keys:
    if key in sample_dict:
        new_dict[key] = sample_dict[key]

# Print the new dictionary
print(new_dict)
print(type(new_dict))

{'name': 'Kelly', 'salary': 8000}
<class 'dict'>

In [30]:
b = sample_dict.pop('name')
n= sample_dict.pop('salary')
new = print(b,n)
print(new)# in dict29
#print(sample_dict)

kelly 8000
None

# 4.
Write a Python program to list of keys from the below dictionary.
	sample_dict = {
   				 "name": "Kelly",
   				 "age": 25,
  				 "salary": 8000,
   				 "city": "New york"}

	# Keys to remove
	keys = ["name", "salary"]

In [2]:
samp_dict = {
    'name':'kelly',
    'age': '25',
    'salary':'8000',
    'city':'New York'
}

keys = ['name','salary']
for k in keys:
    samp_dict.pop(k)
print(samp_dict)

{'age': '25', 'city': 'New York'}

# 5.
Write a Python program to check if value 200 exists in the following dictionary.
	sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [8]:
samp_dict1 = {
    'a':100,
    'b':200,
    'c':300
}
if 200 in samp_dict1.values():
    print('200 is present')
else:
    print('not present')

200 is present

# 6.
Write a program to rename a key city to a location in the following dictionary.
	sample_dict = {	 "name": "Kelly",
   				 "age": 25,
  				 "salary": 8000,
   				 "city": "New york"              }

In [10]:
samp_dict2 = {
    'name':'kelly',
    'age': '25',
    'salary':'8000',
    'city':'New York'
}

samp_dict2['location'] = samp_dict2.pop('city')
print(samp_dict2)

{'name': 'kelly', 'age': '25', 'salary': '8000', 'location': 'New York'}

# 7.
Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.
	sample_dict = {
  				  'emp1': {'name': 'Jhon', 'salary': 7500},
  				  'emp2': {'name': 'Emma', 'salary': 8000},
  				  'emp3': {'name': 'Brad', 'salary': 500}
			        }

In [11]:
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
  }
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}