In [1]:
dict1 = {
    "empname":"kiran",
    "emp role": "developer",
    "emp pay": "32000",
    "emp conduct": "True"
}

In [145]:
dict1.get('developer')

In [13]:
d = {
    1:2,
    1:2
}
print(d)

{1: 2}

In [57]:
d1 = {
    'k':'a',       
    'k':'k'       
}
print(d1)

{'k': 'k'}

In [16]:
dict1["empname"]

'kiran'

In [68]:
dict2 = {
    "brand": "lenovo",
    "model": "ryzen3",
    "year": "2020",
    'st': False,
    'color_variants':('red','black','white')
}
dict2['color_variants'][2]

'white'

In [65]:
dict22 = dict(s_name="kiran",s_no=48,s_native="ptp")
print(dict22)

{'s_name': 'kiran', 's_no': 48, 's_native': 'ptp'}

In [69]:
dict2

{'brand': 'lenovo',
 'model': 'ryzen3',
 'year': '2020',
 'st': False,
 'color_variants': ('red', 'black', 'white')}

In [70]:
dict2['c'] = 'naresh'
dict2['d'] = 'america'
print(dict2)

{'brand': 'lenovo', 'model': 'ryzen3', 'year': '2020', 'st': False, 'color_variants': ('red', 'black', 'white'), 'c': 'naresh', 'd': 'america'}

In [71]:
#Access

In [73]:
u = dict2['color_variants']
u

('red', 'black', 'white')

In [75]:
mobile = {
    "brand":"samsung",
    "model":['j-series','note','watches','m-series'],
    "year":(2020,2021,2022,2023),
    "price":[10000,20000,55999,8999,12000]
}
print(mobile)

{'brand': 'samsung', 'model': ['j-series', 'note', 'watches', 'm-series'], 'year': (2020, 2021, 2022, 2023), 'price': [10000, 20000, 55999, 8999, 12000]}

In [87]:
mobile['market'] = 'india'
print(mobile)

{'brand': 'samsung', 'model': ['j-series', 'note', 'watches', 'm-series'], 'year': (2020, 2021, 2022, 2023), 'price': [10000, 20000, 55999, 8999, 12000], 'market': 'india'}

In [83]:
print(mobile['model'][3])
b= mobile.keys()           # keys()
print(b)

m-series
dict_keys(['brand', 'model', 'year', 'price'])

In [85]:
c = mobile.values()     # values()
print(c)

dict_values(['samsung', ['j-series', 'note', 'watches', 'm-series'], (2020, 2021, 2022, 2023), [10000, 20000, 55999, 8999, 12000], 'india'])

In [86]:
x = mobile.items()           #items
print(x)

dict_items([('brand', 'samsung'), ('model', ['j-series', 'note', 'watches', 'm-series']), ('year', (2020, 2021, 2022, 2023)), ('price', [10000, 20000, 55999, 8999, 12000]), ('market', 'india')])

In [96]:
b1={
	"id": "0001",
	"type": "donut",
	"name": "Cake",
	"ppu": 0.55,
	"batters":
		{
			"batter":
				[
					{ "id": "1001", "type": "Regular" },
					{ "id": "1002", "type": "Chocolate" },
					{ "id": "1003", "type": "Blueberry" },
					{ "id": "1004", "type": "Devil's Food" }
				]
		},
	"topping":
		[
			{ "id": "5001", "type": "None" },
			{ "id": "5002", "type": "Glazed" },
			{ "id": "5005", "type": "Sugar" },
			{ "id": "5007", "type": "Powdered Sugar" },
			{ "id": "5006", "type": "Chocolate with Sprinkles" },
			{ "id": "5003", "type": "Chocolate" },
			{ "id": "5004", "type": "Maple" }
		]
}
print(b1['batters']['batter'][3]['type'])

print(b1['topping'][3]['type'])

Devil's Food
Powdered Sugar

In [142]:
dictk = {
    'grapes':'20kg',
    'apple':'10kg',
    'year':'2023'
}

#(dictk)['year']=2016
dictk.update({'year':2020,
             'apple':'23kg'})            #update
print(dictk)
#dictk['cmnmm'] = 'jhvjh2123nmg' #adding the element into the dict.
dictk.pop('apple','year')       #pop
#dictk.popitem()

print(dictk)

{'grapes': '20kg', 'apple': '23kg', 'year': 2020}
{'grapes': '20kg', 'year': 2020}

In [110]:
del dictk['grapes']
dictk

{'year': 2020}

In [112]:
del dictk
print(dictk)

NameError: name 'dictk' is not defined

In [116]:
dict10 = {
    'key1':'value1',
    'key2':'value2',
    'key3':'value3'
}                           # clear
dict10.clear()
print(dict10)

{}

# Loops

In [122]:
dict11 = {
    'key1':'value1',
    'key2':'value2',
    'key3':'value3'
   }
k=dict11.get('key3')
print(k)

value3

In [118]:
for x in dict11:
    print(x)

key1
key2
key3

In [119]:
for x in dict11:
    print(dict11[x])

value1
value2
value3

In [124]:
for x in dict11.keys():
    print(x)
for x in dict11.values():
    print(x)

key1
key2
key3
value1
value2
value3

In [125]:
for x,y in dict11.items():
    print(x,y)

key1 value1
key2 value2
key3 value3

# Nested dictionaries

In [139]:
family = {
    'child1':{
        'name':'abc',
        'year':'2000'
},
"child2" : {
    "name" : "Tobias",
    "year" : 2007
},
  "child3" : {
    "name" : "Linus",
    "year" : 2011
}
}
print(family['child3']['name'])

Linus