# Set
Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

#engineers = Set(['John', 'Jane', 'Jack', 'Janice']) programmers = Set(['Jack', 'Sam', 'Susan', 'Janice']) managers = Set(['Jane', 'Jack', 'Susan', 'Zack']) employees = engineers | programmers | managers # union engineering_management = engineers & managers # intersection fulltime_management = managers - engineers - programmers # difference engineers.add('Marvin') # add element print engineers Set(['Jane', 'Marvin', 'Janice', 'John', 'Jack']) employees.issuperset(engineers) # superset test False employees.update(engineers) # update from another set employees.issuperset(engineers) True for group in [engineers, programmers, managers, employees]: group.discard('Susan') # unconditionally remove element print group Set(['Jane', 'Marvin', 'Janice', 'John', 'Jack']) Set(['Janice', 'Jack', 'Sam']) Set(['Jane', 'Zack', 'Jack']) Set(['Jack', 'Sam', 'Jane', 'Marvin', 'Janice', 'John', 'Zack'])

In [ ]:
list = []
tuples = ()
set = {}
dict = {key: Value}

In [27]:
myset = {'apple','pineapple','banana','grape','g'} # declaring variable into the set datatype by typing {}

print (myset)

{'apple', 'g', 'banana', 'pineapple', 'grape'}

# Using the set constructor

In [35]:
myset = set(['','cherry','mangoes','apple','mangoes','apple','pinapple'])
print(type(myset))
myset

<class 'set'>

{'', 'apple', 'cherry', 'mangoes', 'pinapple'}

In [49]:
set1 = {'a','b','c','d','e'}
set2 = {1.2,1.4,1.5,1.9}
set3 = {True,True,True,True,False,False}
set4 = {1,1,2,3,4,5,6,7,7}

print(set1)
print(set2)
print(set3)
print(set4)

{'b', 'c', 'a', 'e', 'd'}
{1.2, 1.4, 1.9, 1.5}
{False, True}
{1, 2, 3, 4, 5, 6, 7}

# Accessing the sets

In [56]:
set1 = {'apple','blueberry','grape'}
for v in set1:
    print (v)

blueberry
apple
grape

In [62]:
setk = {'banana','berry','roseberry'}
print('fruit' in setk)

False

# Once a set is created, you cannot change its items, but you can add new items.

In [77]:
# adding the elements into the set
set1 = {'apple','jackfruit','orange'}
set1.add('banana')
print((set1))

{'banana', 'orange', 'apple', 'jackfruit'}

In [84]:
set1 = {'grape','banana','mangoes'}
set2 = {'asia','africa','europe'}
set1.update(set2)                         #update set
print(set1)
print(set2)

{'asia', 'africa', 'mangoes', 'banana', 'europe', 'grape'}
{'asia', 'europe', 'africa'}

In [130]:
set1 = {'grape','banana','mangoes'}
set1.remove('grape')                # remove
print(set1)

set1.add('raspberry')
print(set1)

set1.update('kiwe')
print(set1)

{'mangoes', 'banana'}
{'raspberry', 'mangoes', 'banana'}
{'i', 'banana', 'w', 'e', 'raspberry', 'k', 'mangoes'}

In [121]:
set1 = {1,2,3}
set1.add(4)
print(set1)

{1, 2, 3, 4}

In [127]:
set1={1,3,4}
set1.add('l')
print(set1)
set1.update('g')
print(set1)

{1, 3, 4, 'l'}
{1, 3, 4, 'g', 'l'}

In [95]:
# Note: If the item to remove does not exist, discard() will NOT raise an error.
set1 = {'apple','berry','cherry'}
set1.discard('apple')
print(set1)

{'cherry', 'berry'}

In [ ]:
# you can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

# The return value of the pop() method is the removed item.

In [100]:
set1 = {1,2,3}
set1.pop()                 # Pop
print(set1)

{2, 3}

In [103]:
set1 = {'berry','cherry','cherry'}
set1.clear()             #clear
print(set1)

set()

In [104]:
set1 = {'dragonfruit','cherry','carrot'}
del set1
print (set1)

NameError: name 'set1' is not defined

In [105]:
# Join

In [135]:
set1 = {'apple','cherry','mango'}
set2 = {'berry','guava','banana'}
set3 = {'1','2','3'}
set4 = set1.union(set2,set3)
print(set4)
print(set1)
print(set2)
print(set3)

{'3', 'banana', 'guava', 'berry', '2', 'apple', 'mango', '1', 'cherry'}
{'cherry', 'apple', 'mango'}
{'guava', 'banana', 'berry'}
{'3', '2', '1'}

In [119]:
# The intersection_update() method will keep only the items that are present in both sets.
x = {"google", "banana", "cherry"}
y = {"google", "banana", "apple"}
w = {"banana","blueberry","google"}

h = x.intersection(y,w)

print(h)

{'banana', 'google'}

In [131]:
## The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

xx = {"apple", "banana", "cherry"}
yy = {"google", "microsoft", "apple"}

xx.symmetric_difference_update(yy)

print(xx)

{'microsoft', 'banana', 'cherry', 'google'}

# - Method Description:
 
 
 - add() Adds an element to the set 
 

 - clear() Removes all the elements from the set 
 
 
 - copy() Returns a copy of the set 
 
 
 - difference() Returns a set containing the difference between two or more sets 
 
 
 - difference_update() Removes the items in this set that are also included in another, specified set 
 
 
 - discard() Remove the specified item 
 
 
 - intersection() Returns a set, that is the intersection of two other sets 
 
 
 - intersection_update() Removes the items in this set that are not present in other, specified set(s)
 
 
 - isdisjoint() Returns whether two sets have a intersection or not 
 
 
 - issubset() Returns whether another set contains this set or not 
 
 
 - issuperset() Returns whether this set contains another set or not 
 
 
 - pop() Removes an element from the set 
 
 
 - remove() Removes the specified element 
 
 
 - symmetric_difference() Returns a set with the symmetric differences of two sets 
 
 
 - symmetric_difference_update() inserts the symmetric differences from this set and another 
 
 
 - union() Return a set containing the union of sets 
 
 
 - update() Update the set with the union of this set and others

# Tuple
Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Ordered When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates Since tuples are indexed, they can have items with the same value:

In [163]:
tuple1 = ('apple','berry','cherry','pineapple')
print(tuple1)

('apple', 'berry', 'cherry', 'pineapple')

In [146]:
#Access the elements in the tuple

In [167]:
print(tuple1[1])
print(tuple1[:3])
print(tuple1[:-1])

berry
('apple', 'berry', 'cherry')
('apple', 'berry', 'cherry')

In [168]:
x = ("apple","cherry")
y = list(x)
print(type(y))
y[1] = 'kiwe'
x = tuple(y)
print (x)

<class 'list'>
('apple', 'kiwe')